<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <header>

        <ul id="navbar">
          <li id="logo"><a>YuRENT</a></li>
          <li class = "hoverable" href="main.html">BROWSE</li>
          <li class = "hoverable" href="#">POST A BORROWING</li>
        </ul>


    </header>

    <body>
      <!-- here we add our contact forms -->
      {% block content %}
      <div class="contact">
          <h3>Contact us</h3>
          <form action="{{ url_for('get_contact') }}" method=post>
              <div>

                  <p>
                      {{ form.name.label }} <br>
                      {{ form.name(placeholder='Name') }}
                  </p>

                  <p>
                      {{ form.email.label }} <br>
                      {{ form.email(placeholder='Email') }}
                  </p>

                  <p>
                      {{ form.phone.label }}<br>
                      {{form.phone(placeholder='Phone Number')}}
                  </p>

                  <p>
                      {{ form.address.label }}<br>
                      {{ form.address(placeholder='Address') }}
                  </p>

                  <p>
                      {{ form.item.label }}<br>
                      {{ form.item(placeholder='Item') }}
                  </p>

                  <p>
                      {{ form.price.label }}<br>
                      {{ form.price(placeholder='Price') }}
                  </p>

                  <p>
                      {{ form.description.label }}<br>
                      {{ form.description(placeholder='Item Description') }}
                  </p>
                  
                  <p>
                      {{ form.submit }}
                  </p>
              </div>
          </form>
      </div>
      {% endblock %}

    </body>
</html>
