*{
  margin: 0;
  padding: 0;
}

img {
  display: inline-flex;
  width: 10%;
}

#navbar{
  list-style-type: none;
  background-color: #003249;
  display: flex;
  justify-content: space-around;
  min-height: 60px;
}

#navbar li{
  font-family: 'Anton';
}

#navbar .hoverable{
  margin-top: 15px;
  color: #ccdbdc;
  font-size: 20px;
}

#navbar .hoverable:hover{
  color: white;
}

#logo{
  margin-top: auto;
  margin-bottom: auto;
  color: #007ea7;
  font-size: 30px;
}

body{
  background-color: #ccdbdc;
}

a:link, a:visited {
	background-color: #ccdbdc;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #ccdbdc;
}