*{
  margin: 0;
  padding: 0;
}
#navbar{
  list-style-type: none;
  background-color: #ccdbdc;
  display: flex;
  justify-content: space-around;
}

a:link, a:visited {
	background-color: #ccdbdc;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #ccdbdc;
}